<!DOCTYPE html>
<html>
	<head>
	<title>MOVIES APP</title>

		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-	ui/2.4.1/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="/app.css">
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
	
   </head>
<body>
	<div class="ui secondary pointing menu">
			<div class="header item"><i class="code icon"></i>HOLLY-BOLLY</div>
			<a href="/"  class="active item">
		         Home
	  		 </a>
			<a href="/movies/new" class="item">
				Create
	 		 </a>
		  <div class="right menu">
			<a class="ui item">
			    Logout
			</a>
		  </div>
	  
	</div>
	